@model ProjectSibers.Models.Doljnost

@{
    ViewData["Title"] = "Delete";
}


    <h3>Вы уверены, что хотите удалить это?</h3>
<div>
    @*<h4>Doljnost</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DoljnostID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Bозврат к общему списку</a>
    </form>
</div>
